#VideoPlayer-player {
  height: 100vh;
  background-color: black;
  display: block;
  position: absolute;
  top: 0;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 1;
  background-size: cover;
  width: 100%;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

.VideoPlaylist {
  position: fixed;
  right: 0;
  right: -394px;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  color: white;
  transition: transform 500ms;
  background: rgba(0, 0, 0, 0.55);
}

.VideoPlaylist:hover {
  transform: translate(-394px, 0);
  z-index: 8;
}

.VideoPlaylist > p {
  color: white;
  font-size: 19px;
  padding: 15px 20px;
  display: flex;
}

.VideoPlaylist-progress {
  z-index: 8;
  position: fixed;
  width: 19px;
  height: 200px;
  top: 0;
  background: #ff9001;
  transition: transform 500ms;
  -webkit-transition-property: top; /* Safari */
  -webkit-transition-duration: 1s; /* Safari */
  transition-property: top;
  transition-duration: 1s;
}

.VideoPlaylist:hover .VideoPlaylist-progress {
  transform: translate(-394px, 0);
  opacity: 0;
}

.VideoPlaylist:hover .VideoPlaylistItem {
  border-top: 1px solid rgba(195, 195, 195, 0.1);
}

.VideoPlaylistItem {
  width: 100%;
  width: 400px;
  height: 110px;
  display: grid;
  grid-template-columns: 45% 50% 5%;
  font-size: 0.9em;
  position: relative;
}

.VideoPlaylistItem:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.VideoPlaylistItem:active {
  background: rgba(255, 255, 255, 0.3);
}

.VideoPlaylistItem img {
  width: 142px;
  height: 80px;
  object-fit: cover;
  margin: auto;
}

.VideoPlaylist:hover .VideoPlaylistItem.selected > .marker {
  width: 4px;
  left: 0;
  background: #ff9001;
  height: 100%;
  bottom: 0;
}

.VideoPlaylist:hover .VideoPlaylistItem.selected {
  border-bottom: 0;
  background: rgba(255, 255, 255, 0.25);
  transition: background 400ms;
}
.VideoPlaylistItem p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  line-height: 1.3em;
}

.VideoPlaylistItem span {
  font-size: 12px;
  opacity: 0.4;
  line-height: 30px;
  text-transform: uppercase;
}

.VideoPlaylistItem > .marker {
  position: absolute;
}

.VideoControls {
  z-index: 7;
  padding: 120px 40px 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 60fr 1fr;
  grid-column-gap: 20px;
  align-items: center;
  position: fixed;
  height: 60px;
  /* bottom: 0; */
  bottom: -40px;
  opacity: 0;
  left: 0;
  right: 0;
  color: white;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.2) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: transform 650ms;
}

.VideoControls:hover {
  opacity: 1;
  transform: translate(0, -40px);
}

.VideoControls > li > i {
  font-size: 30px;
}

.VideoControls > li:hover,
.VideoControls #progress:hover {
  cursor: pointer;
}

.VideoControls #progress {
  width: 100%;
  height: 6px;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
}

#progress-bar {
  position: absolute;
  left: 0;
  width: 0;
}

progress[value]::-webkit-progress-value {
  background-color: #ff9001;
}
