#VideoPlayer-player {
  height: 100vh;
  background-color: black;
  display: block;
  position: absolute;
  top: 0;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 1;
  background-size: cover;
  width: 100%;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

.VideoPlaylist {
  position: fixed;
  right: 0;
  right: -394px;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  color: white;
  transition: transform 500ms;
}

.VideoPlaylist:hover {
  transform: translate(-394px, 0);
  z-index: 8;
}

.VideoPlaylist > p {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 19px;
  padding: 15px 20px;
  display: flex;
}

.VideoPlaylist-progress {
  position: fixed;
  width: 19px;
  height: 200px;
  top: 0;
  background: #ff9001;
  transition: transform 500ms;
}

.VideoPlaylist:hover .VideoPlaylist-progress {
  transform: translate(-394px, 0);
  display: none;
}

.VideoPlaylist:hover .VideoPlaylistItem {
  border-top: 1px solid rgba(195, 195, 195, 0.1);
}

.VideoPlaylistItem {
  width: 100%;
  width: 400px;
  height: 110px;
  display: grid;
  /* grid-template-rows: ; */
  grid-template-columns: 45% 50% 5%;
  font-size: 0.9em;
  background: rgba(0, 0, 0, 0.5);
}

.VideoPlaylistItem:hover {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.VideoPlaylistItem:active {
  background: rgba(255, 255, 255, 0.3);
}

.VideoPlaylistItem img {
  width: 142px;
  height: 80px;
  object-fit: cover;
  margin: auto;
}

.VideoPlaylistItem p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  line-height: 1.3em;
}

.VideoPlaylistItem span {
  font-size: 12px;
  opacity: 0.4;
  line-height: 30px;
  text-transform: uppercase;
}

.VideoControls {
  z-index: 7;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 60fr;
  grid-column-gap: 20px;
  align-items: center;
  position: fixed;
  height: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
}

.VideoControls > li {
  width: 36px;
}

.VideoControls > li:hover {
  cursor: pointer;
}

.VideoControls progress {
  width: 100%;
}
